<% layout('./layout/page') -%>
<% block('title', '') -%>
<% block('titleDlg', 'Доступ закрыт') -%>
<% script('js/error.js') -%>
<% stylesheet('css/error.css') -%>

<div id="dialog-permit" title="<%=blocks.titleDlg%>">
    <h4 id="txt-message"><%=error.message%></h4>
</div>