<% layout('./layout/page') -%>
<% block('title', '') -%>
<% block('titleDlg', 'Проверка аунтификации') -%>
<% script('js/wait-info.js') -%>
<% script('js/login.js') -%>
<% stylesheet('css/login.css') -%>

<div id="header">
    <div id="logo">
        <div id="logo-left">
        </div>
    </div>
</div>

<div id="login-logo">
    <img src="img/logo.png" width="107" height="65">
    <h6>Rating System</h6>
</div>
<div id="content">
    <div id="page-wrapper">
        <div id="menu-office">
            <div id="message-office">
                <h3>Вход в систему:</h3>
            </div>
        </div>
        <div id="login-content">
            <table id = "login-tbl">
                <colgroup>
                    <col style="width: 17%;">
                    <col style="width: 258px;">
                    <col style="">
                </colgroup>
                <tr>
                    <td style="text-align: right;"><label>Логин:</label></td>
                    <td><input type='text' id='login-user' value=''/></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><label>Пароль:</label></td>
                    <td><input type='password' id='password-user' value=''/></td>
                    <td><button id="button-submit" type="submit" class="btn btn-primary">Войти</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<% include ./layout/msgDialog.ejs %>
<% include ./layout/passwordDialog.ejs %>






