<div id="grid-tabs-2">
    <div id="tbl-task" class="hle-grid">
        <div  class="tbl-head ui-corner-top">
            <table class="tbl">
                <thead>
                <tr>
                    <th class="td-1"><div>#</div></th>
                    <th class="td-2"><div>Наименование задачиkkk</div></th>
                    <th class="td-3"><div>%</div></th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-body">
            <table id="tbl-task-body" class="tbl">
                <tbody>
                <% var i=0; %>
                <% lstTask.forEach(function(val) { %>
                <% i++; %>
                <tr data-id="<%= val._id %>">
                    <td class="td-1"><div><%= i %></div></td>
                    <td class="td-2"><div><%= val.valueTask %></div></td>
                    <td class="td-3"><div><%= val.percentTask %></div></td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <div class="tbl-footer ui-corner-bottom">
            <table class="tbl">
                <tfoot>
                <tr>
                    <th class="td-1"><div><%= i%></div></th>
                    <th class="td-2"><div></div></th>
                    <th class="td-3"><div></div></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="footer-grid">
        <button id="btn-del-task">Удалить</button>
        <button id="btn-chg-task">Изменить</button>
        <button id="btn-add-task">Добавить</button>
    </div>
</div>