@import url('reset.css');
@import url('typography.css');
@import url('dialog.css');
@import url('header.css');

#message-office {
    padding-top: 5px;
    text-align: center;
}

#content {
    margin: auto;
    position: relative;
    width: 400px;
}

#page-wrapper {
    clear: both;
    overflow: hidden;
    margin-top: 40px;
    padding: 1px;
    border: 1px solid #bababa;
    border-radius: 4px;
    background: #eeeeee;
    /*url(./ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;*/
}

#login-content {
    margin: 20px;
}

#btn-panel {
    border-top: 1px solid #bababa;
    width: 100%;
    height: 40px;
}

#submit-btn {
    padding: 5px;
    float: right;
}




