@import url('reset.css');
@import url('typography.css');
@import url('dialog.css');

#header {
    height: 105px;
    position: relative;
    width: 100%;
}

#message-office {
    padding-left: 17%;
    padding-top: 48px;
    position: relative;
}

#login-logo {
    position: relative;
    float: left;
    width: 32%;
    text-align: center;
    padding-top: 40px;
}

#content {
    float: left;
    position: relative;
    width: 65%;
}

#page-wrapper {
    position: relative;
    width: 100%;
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    padding: 1px;
    background: none repeat scroll 0 0 #f6a828;
    height: 250px;
    border: 1px solid #e78f08;
    border-radius: 4px;
    color: #ffffff;
}

#login-content {
    margin-top: 30px;
}

table {
    width: 100%;
}

#login-tbl td {
    vertical-align: middle;
    padding: 1px;
}
#login-tbl td label {
    color: white;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    margin-right: 5px;
}

#login-tbl td input {
    border: 1px solid #e78f08;
    border-radius: 4px;
    color: #646464;
    font-size: 12px;
    height: 25px;
    padding-top: 5px;
    width: 258px;
}

#btn-panel {
    width: 100%;
    height: 40px;
}

#button-submit {
    height: 25px;
    width: 106px;
    margin-left: 10px;
}




