@import url('reset.css');
@import url('typography.css');
@import url('grid.css');
@import url('dialog.css');
@import url('header.css');

#content {
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    width: 990px;
}
#page-wrapper {
    height: 450px;
}
#rankings .list {
    margin-right: 20px;
}
#controls {
    clear: both;
    padding-top: 20px;
}
.control-button {
    margin-top: 10px;
}
#radio-block {
    margin-bottom: 10px;
    padding: 4px 10px;
    width: 180px;
    border: 1px solid #bababa;
    border-radius: 4px;
}

#radio-block label{
    padding-left: 5px;
}

.ui-tabs .ui-tabs-panel {
    padding: 1em 1em;
}

.tbl-block {
    display: table;
    margin: 0 auto;
}

.tbl-block-cell {
    display: table-cell;
}

.tbl-band {
    display: table-cell;
    width: 15px;
}

#dialog-role-edit input{
    margin-bottom: 10px;
}

#check-block li {
    padding-bottom: 15px;
}

#check-block-user li {
    padding-top: 10px;
    padding-bottom: 6px;
}

#check-block-user label{
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

#btn-role {
    margin-top: 10px;
    width: 100%;
}

#select-twise {
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    display: table;
}

#select-master{
    text-align: left;
    display: table-cell;
}

#select-pupil{
    text-align: right;
    display: table-cell;
}

#select-period {
    margin-top: 10px;
    width: 100%;
}

#cell-count-period {
    padding-left: 5px;
}

.ui-selectmenu-text {
    line-height: 1 !important;
    padding-top: 5px !important;
}














