<div id="dialog-obj" title="">
    <label class='label-txt' for='name-obj'>Наименование объекта:</label>
    <input class='input-txt' type='text' id='name-obj' value=''/>
    <div id="select-period">
        <label class='label-txt' for='list-period-obj'>Периодичность объекта:</label>
        <select id="list-period-obj">
            <%var i = 0%>
            <% lstPeriod.forEach(function(val) { %>
            <%i++%>
            <option value="<%= val._id %>"><%= val.namePeriod %></option>
            <% }); %>
        </select>
        <label class='label-txt' for='list-period-sbj'>Периодичность субъекта:</label>
        <select id="list-period-sbj">
            <% lstPeriod.forEach(function(val) { %>
            <option value="<%= val._id %>"><%= val.namePeriod %></option>
            <% }); %>
        </select>
    </div>
</div>