<div id="dialog-password" title="">
    <label class='label-txt' for='password-new-user'>Новый пароль:</label>
    <input class='input-txt' type='password' id='password-new-user' value=''/>
    <label class='label-txt' for='password-retry-user'>Повторить пароль:</label>
    <input class='input-txt' type='password' id='password-retry-user' value=''/>
</div>