<div id="dialog-period" title="">
    <label class='label-txt' for='name-period'>Имя периодичности:</label>
    <input class='input-txt' type='text' id='name-period' value=''/>
    <label class='label-txt' for='desc-period'>Описание периодичности:</label>
    <input class='input-txt' type='text' id='desc-period' value=''/>
    <label class='label-txt' for='count-period'>Период цикличности:</label>
    <div class="tbl-block">
        <div class="tbl-block-cell" id="select-cycle-period">
            <select id="list-cycle-period">
                <option value="0">Ежедневно</option>
                <option value="1">Еженедельно</option>
                <option value="2">Ежемесячно</option>
                <option value="3">Ежеквартально</option>
                <option value="4">Ежеполугодно</option>
            </select>
        </div>
        <div id="cell-count-period" class="tbl-block-cell">
            <input class='input-txt' type='text' id='count-period' value=''/>
        </div>
    </div>
</div>