<div id="dialog-subject" title="">
    <label class='label-txt' for="fName-subject">Фамилия:</label>
    <input class='input-txt' type="text" id="fName-subject" value=''/>
    <label class='label-txt' for="sName-subject">Имя:</label>
    <input class='input-txt' type="text" id="sName-subject" value=''/>
    <label class='label-txt' for="tName-subject">Отчество:</label>
    <input class='input-txt' type="text" id="tName-subject" value=''/>
</div>