<div id="dialog-form-task" title="">
    <label class="label-txt" for="task-value">Поставленная задача:</label>
    <textarea class="input-txt" id="task-value" rows="10" cols="50"></textarea>
    <label class="label-txt" for="task-percent">% выполнения:</label>
    <input class="input-txt" id="task-percent" type="text"  value=""/>
</div>