<div id="dialog-form-tbl" title="">
    <div id="tbl-sprav" class="hle-grid">
        <div class="tbl-head ui-corner-top">
            <table class="tbl">
                <thead>
                <tr>
                    <th class="td-1"><div>#</div></th>
                    <th class="td-2"><div>Наименование</div></th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-body">
            <table id="tbl-sprav-body" class="tbl">
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="tbl-footer ui-corner-bottom">
            <table class="tbl">
                <tfoot>
                <tr>
                    <th class="td-1"><div></div></th>
                    <th class="td-2"><div></div></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>