<div id="dialog-user" title="">
    <label class='label-txt' for='name-user'>ФИО:</label>
    <input class='input-txt' type='text' id='name-user' value=''/>
    <label class='label-txt' for='login-user'>Логин:</label>
    <input class='input-txt' type='text' id='login-user' value=''/>
    <ul id="check-block-user">
        <li>
            <input id='mustPassword' type='checkbox'/>
            <label for='mustPassword'>Сменить пароль при следующем запуске</label>
        </li>
    </ul>
    <button id="btn-role">Выберите роль</button>
    <div id="select-twise">
        <div id="select-master">
            <select id="list-role-master">
                <option value="100000000000000000000001">Нет Роли</option>
                <% lstRole.forEach(function(val) { %>
                <option value="<%= val._id%>"><%= val.name%></option>
                <% }); %>
            </select>
        </div>
        <div id="select-pupil">
            <select id="list-role-pupil">
                <option value="100000000000000000000001">Нет Роли</option>
                <% lstRole.forEach(function(val) { %>
                <option value="<%= val._id%>"><%= val.name%></option>
                <% }); %>
            </select>
        </div>
    </div>
</div>