<div id="dialog-user" title="">
    <label class='label-txt' for='name-user'>ФИО:</label>
    <input class='input-txt' type='text' id='name-user' value=''/>
    <label class='label-txt' for='login-user'>Логин:</label>
    <input class='input-txt' type='text' id='login-user' value=''/>
    <ul id="check-block-user">
        <li>
            <input id='mustPassword' type='checkbox'/>
            <label for='mustPassword'>Сменить пароль при следующем запуске</label>
        </li>
    </ul>
    <button id="btn-role">Выберите роль</button>
    <label for="role-master">Select a role</label>
    <select name="role-master" id="role-master">
        <option>Slower</option>
        <option>Slow</option>
        <option selected="selected">Medium</option>
        <option>Fast</option>
        <option>Faster</option>
    </select>
</div>