<div id="dialog-user" title="">
    <label class='label-txt' for='name-user'>ФИО:</label>
    <input class='input-txt' type='text' id='name-user' value=''/>
    <label class='label-txt' for='login-user'>Логин:</label>
    <input class='input-txt' type='text' id='login-user' value=''/>
    <label class='label-txt' for='password-user'>Пароль:</label>
    <input class='input-txt' type='password' id='password-user' value=''/>
    <button id="btn-role">Выберите роль</button>
</div>