<div id="wait-info"  title="Загрузка контента">
    <h2 style="margin-top: 16px; margin-bottom: 16px;">
            <span style="float:left; margin: -10px 10px 0 15px;"><img src="img/ajax-loading.gif"></span>
            Идет загрузка, подождите...
    </h2>
</div>